<div class="panel panel-default">
	<div class="panel-heading">Data export</div>
	<div class="panel-body">
		<div class="container">
			<% @users.each do |u| %>
				<div class="row" <% if u.username then %>class="bg-success"<% end %>>
					<div class="col-md-3">User <%= u.username %></div>
					<div class="col-md-2"><%= link_to 'Events', admin_export_user_events_path(u.id) %></div>
					<div class="col-md-2"><%= link_to 'Responses', admin_export_user_qids_path(u.id) %></div>
					<div class="col-md-2"><%= link_to 'Messages', admin_export_user_messages_path(u.id) %></div>
				</div>
			<% end %>
		</div>
		<div class="container">
			<%= link_to 'Export user details', admin_export_users_path %>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-md-6">

        <!-- message panel -->
        <div class="panel panel-default">
            <div class="panel-heading">User management</div>
            <div class="panel-body">
                <h4>GP contact</h4>
                <%= form_for :user, url: '/admin/users/', method: 'put', remote: true do |f| %>
                    <%= f.select :user_id, User.all.collect {|u| [ u.id, u.id ] } %>
                    <%= f.text_field :gp_contact_number %>
                    <%= f.submit %>
                <% end %>

                <h4>Messaging</h4>
                <%= bootstrap_form_for [@message], url: { controller: 'messages', action: 'create' }, remote: true do |f| %>

                    <%= f.select :user_id, User.all.collect {|u| [ u.id, u.id ] } %>

                    <p>Push a message to a user</p>
                    <%= f.text_area :content, size: "24x6" %>

                    <%= f.submit %>


                    <h4>Notifications</h4>
                    <p>
                        <%= f.button type: 'button', class: 'btn btn-default', id: 'reset-delivery' do %>
                            Reset message delivery time
                        <% end %>
                    </p><p>
                        <%= f.button type: 'button', class: 'btn btn-default', id: 'reset-reminder' do %>
                            Reset QIDS reminder time
                        <% end %>
                    </p><p>
                        <%= f.button type: 'button', class: 'btn btn-default', id: 'deliver' do %>
                            Test notifications/reminders
                        <% end %>
                    </p>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <!-- log panel -->
        <div class="panel panel-default">
            <div class="panel-heading">Event log</div>
            <div class="panel-body">

                <% @logevents.each do |le| %>
                    <%= le.lstrip.rstrip %></br>
                <% end %>




            </div>
        </div>

    </div>
</div>
